<!doctype html>
<html>
    <head>
        <title>Angular App</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="app">
        <h1>First Angular App</h1>
        <div ng-controller="appCtrl">
            One way databinding = {{::random}}<br>
            Two way databinding = {{random}}<br>
            <input type="text" ng-model="random">
            <button ng-click="submit()">change</button>
            
            <br>
            <h1>Form Example</h1>
            <table class="table table-hover">
                <tr>
                    <th>First Name</th>
                    <td>
                        <input type="text" ng-model="formModel.firstName">
                    </td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td><input type="text" ng-model="formModel.lastName"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" ng-model="formModel.phone"></td>
                </tr>
            </table>
            <button ng-click="sampleSubmit()" class="btn btn-success">Submit</button>
            
            <table class="table table-hover">
                <caption>
                    <h3>Person Table</h3>
                    <input style="float:right" type="text" ng-model="search" placeholder="search table">
                </caption>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                </tr>
                <tr ng-repeat="person in personArrayCtrl |filter:search">
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.phone}}</td>
                </tr>
            </table>
            
            <br>
            <h1>ng-repeat sample</h1>
            <input type="text" ng-model="animal">
            <button ng-click="addAnimal()">
                AddAnimal
            </button>
            <ol>
                <li ng-repeat="item in sampleArray track by $index">
                    {{item}}
                </li>
            </ol>
        </div>
        
        <div ng-controller="appCtrl2">
            asdfasdfs
            <ol>
                <li ng-repeat="test in sampleArray2 track by $index">{{test.firstName}}</li>
            </ol>
            <button ng-click="testService()">update service val</button>
        </div>
        
        <!--JS Dependencies-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/controllers/appCtrl.js"></script>
        <script type="text/javascript" src="/scripts/controllers/appCtrl2.js"></script>
        <script type="text/javascript" src="/scripts/services/person.js"></script>
        <script type="text/javascript" src="/scripts/services/personFactory.js"></script>
    </body>
</html>