<!doctype html>
<html>
    <head>
        <title>Angular App</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="app">
        <h1>First Angular App</h1>
        <div ng-controller="appCtrl">
            One way databinding = {{::random}}<br>
            Two way databinding = {{random}}<br>
            <input type="text" ng-model="random">
            <button ng-click="submit()">change</button>
            
            <br>
            <h1>Form Example</h1>
            <table class="table table-hover">
                <tr>
                    <th>First Name</th>
                    <td>
                        <input type="text" ng-model="formModel.firstName">
                    </td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td><input type="text" ng-model="formModel.lastName"></td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td><input type="text" ng-model="formModel.phone"></td>
                </tr>
            </table>
            <button ng-click="sampleSubmit()" class="btn btn-success">Submit</button>
        </div>
        
        <!--JS Dependencies-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
        <script type="text/javascript" src="/scripts/controllers/appCtrl.js"></script>
    </body>
</html>